@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

.blog-img {
  height: 720px;
}

.mgt-10 {
  margin-top: 2rem;
}

.skel-title {
  height: 40px;
}

.skel-image {
  height: 500px;
}

.skel-author {
  height: 20px;
}

.skel-text {
  height: 20px;
}

.content-container {
  max-width: 900px;
}

.w-full {
  width: 100% !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blog-content {
  padding: 36px 0;
}

.blog-content b {
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-content p {
  margin-bottom: 10px;
}

.article-containter h1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.blog-content h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

.blog-content h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.blog-thumbnail {
  height: 168px;
}

.author-img {
  margin-left: 1em;
}

.time-stamp {
  color: grey;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .blog-img {
    height: 200px;
  }

  .skel-image {
    height: 200px;
  }

  .brand-logo {
    width: 80px;
  }

  .blog-content {
    padding: 36px 0;
  }

  .blog-content b {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .blog-content p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .article-container h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
  }

  .blog-content h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
  }

  .blog-content h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
}
